/* General */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

/* Input Forms*/
input[type="text"], input[type="password"]{
  outline: none;
  padding: 20px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 20px auto;
}

input[type="submit"] {
  padding: 10px;
  color: #fff;
  background: #0098cb;
  width: 320px;
  margin: 20px auto;
  margin-top: 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #00eb6a;
}



/* Header */
header {
  border-bottom: 2px solid #eee;
  padding: 20px 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
header a {
  text-decoration: none;
  color: #333;
}

#input-date {
  margin-top: 15px;
  margin-bottom: 25px;
}
#div-ejercicios {
  box-shadow:0px 0px 15px rgb(177, 177, 177);
  margin: 25px;
  border: 2px solid rgb(202, 202, 202);
  padding: 10px;
  border-radius: 2%;
}
#div-alert{
  color:red;
  font-weight: bold;
  text-align: left;
  padding-left: 45px;
}

.div-ejercicios-child{
  box-shadow:0px 0px 5px rgb(177, 177, 177);
  margin:5px;
  margin-bottom: 25px;
  border-radius: 5%;
  padding-top:10px;
  padding-bottom: 15px;

}

.div-frase-motivadora span{
  color: rgb(255, 0, 242) !important;
}
#div-frase-motivadora{
  color: rgb(255, 0, 242);
}
#iframe-video-ejercicio {
  border:5px solid rgb(185, 185, 185);
  overflow:hidden;
  width:200px;
  border-radius: 5%;
}
#textarea-feedback{
  border-radius: 8px;
}

#div-button-fb{
  border-color:rgb(121, 173, 69) ;
  background-color: rgb(121, 173, 69);
  color: white;
  border-radius: 8px;
}
#div-button-fb::after{
  content: 'enviar';
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
